.footer {
    background-color: #94A3B8;
    box-sizing: border-box;
  
    position: fixed;
  
    width: 100vw;
    left: 0;
    bottom: 0;
  
    padding-top: 20px;
    padding-bottom: 20px;
  
    text-align: center;
  
    height: 60px;
}

.footer .text {
    font-size: 14px;
    color: black;
}

@media (max-width: 480px) {
    .footer{
        height: 9.5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: center;
    }
    .footer .text{
        font-size: 10px;
    }
}

